<div>
  <app-widget-area ></app-widget-area>

</div>
<br>

<mat-divider></mat-divider>
<br>
<div class=" flex  justify-between	">
   <mat-card class="w-2/6		px-5	"> 
    <app-widgets-card> </app-widgets-card>
   </mat-card>
   
   <mat-card  class="w-2/6		px-5	">
    <app-widgets-card> </app-widgets-card>

   </mat-card>
   <mat-card class="w-2/6		px-5	">
    <app-widgets-card> </app-widgets-card>

   </mat-card>
   
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <!-- <div><app-posts></app-posts></div> -->
    <div class="w-6/12"><app-pie-chart></app-pie-chart></div>
</div>

