
<mat-nav-list>
    <div class="profile-card text-center p-5">
        <div class="header">
            <h2>Alaa Elsayed</h2>
            <h4>exampl@gmail.com</h4>
        </div>
    </div>
    
    
    
    <mat-divider></mat-divider>
    
    <h2 class="px-5" matSubheader>Pages</h2>
    
<a mat-list-item routerLinkActive="list-item-active" routerLink="/" routerLink="/dashbord">  Dashbord</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"> Posts</a>


    <mat-divider></mat-divider>
    <h2 class="px-5" matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts"> 
        <mat-icon class="">import_contacts</mat-icon>
        contacts
    </a>

    <a class="flex " mat-list-item routerLinkActive="list-item-active" routerLink="/contacts"> 
        <mat-icon class=""> contact_phone</mat-icon>
       Leads
    </a>
    <mat-divider></mat-divider>
    
</mat-nav-list>

